# Copy this file to android/key.properties and replace placeholders.
# Do not commit android/key.properties to source control.
storePassword=YOUR_STORE_PASSWORD
keyPassword=YOUR_KEY_PASSWORD
keyAlias=upload
storeFile=../keystore/upload-keystore.jks
